.form1{
  background-color: #2574A9;
  margin-top: -20px;
}

span.form1{
  background-color:#2574A9;
  margin-left: 10px;
}

.form2{
  background-color: #9A12B3;
  margin-top: -20px;
}

span.form2{
  background-color:#9A12B3;
  margin-left: 10px;
}

.form3{
  background-color: #DB0A5B;
  margin-top: -20px;
}

span.form3{
  background-color: #DB0A5B;
  margin-left: 10px;
}

.carte{
  margin-left: 60px;
}

input{
  border-radius: 0px;
}
