.form1{
  background-color: #2574A9;
  margin-top: -17px;
  padding-bottom: 15px;
  padding-top: 5px;
}

span .form1{
  background-color:#2574A9;
}

.form2{
  background-color: #9A12B3;
  margin-top: -17px;
  padding-bottom: 15px;
  padding-top: 5px;
}

span .form2{
  background-color:#9A12B3;
}

.form3{
  background-color: #DB0A5B;
  margin-top: -17px;
  padding-bottom: 15px;
  padding-top: 5px;
}
}

span .form3{
  background-color: #DB0A5B;
}

.carte{
  margin-left: 60px;
}
